<%= javascript_import_module_tag "navbar" %>

<div>
  <div class="bg-secondary-light">
    <div class="w-full py-8 max-w-screen-xl mx-auto lg:flex lg:items-center lg:justify-center">
        <div class="w-full flex flex-col items-center gap-6 lg:w-1/2">
          <h1 class="text-3xl lg:font-medium lg:text-4xl">每日朋友圈</h1>
          <p class="text-md lg:text-lg">每日名言、节日祝福、朋友圈文案配图，打造个性化朋友圈</p>
          <button class="btn"> 免费使用 </button>
        </div>

        <div class="w-full lg:w-1/2 lg:px-5">
            <%= image_tag "social-share.svg", class: "max-w-screen-md m-auto" %>
        </div>
    </div>
  </div>

  <div class="bg-neutral-dark">
    <div class="w-full py-8 max-w-screen-xl mx-auto lg:flex lg:items-center lg:justify-center lg:flex-row-reverse">
        <div class="w-full flex flex-col items-center gap-6 lg:w-1/2">
          <h1 class="text-3xl lg:font-medium lg:text-4xl">轻松编辑，简单操作</h1>
          <p class="text-md lg:text-lg">拒绝千篇一律，让你的朋友圈与众不同...</p>
        </div>

        <div class="w-full lg:w-1/2 lg:px-5">
            <%= image_tag "blog-post.svg", class: "max-w-screen-md m-auto" %>
        </div>
    </div>
  </div>

  <div class="bg-secondary-light">
    <div class="w-full py-8 max-w-screen-xl mx-auto lg:flex lg:items-center lg:justify-center">
        <div class="w-full flex flex-col items-center gap-6 lg:w-1/2">
          <h1 class="text-3xl lg:font-medium lg:text-4xl">每一天都是新鲜的，美好每时每刻</h1>
          <p class="text-md lg:text-lg">每天新内容，有爱、有温度...</p>
        </div>

        <div class="w-full lg:w-1/2 lg:px-5">
            <%= image_tag "connected-world.svg", class: "max-w-screen-md m-auto" %>
        </div>
    </div>
  </div>

  <div class="bg-secondary-light">
    <div class="w-full py-8 max-w-screen-xl flex-col mx-auto">
        <div class="w-full text-center">
            <h1 class="text-3xl lg:text-4xl">如何使用</h1>
        </div>
        <div class="w-full pl-4 lg:flex lg:flex-wrap mt-10 justify-center">
            <div class="w-full lg:w-4/12 flex items-center">
                <div class="w-16 h-16 border-2 border-primary-dark rounded-full flex items-center justify-center font-bold number">1</div>
                <div class="ml-6 text-left">
                    <div class="font-medium text-xl">注册账号</div>
                    <div class="text-sm text-gray-600 mt-3">注册自己的专属账号</div>
                </div>
            </div>
            <div class="w-full lg:w-4/12 flex items-center mt-6">
                <div class="w-16 h-16 border-2 border-primary-dark rounded-full flex items-center justify-center font-bold number">2</div>
                <div class="ml-6 text-left">
                    <div class="font-medium text-xl">选择模板</div>
                    <div class="text-sm text-gray-600 mt-3">多模板可供选择</div>
                </div>
            </div>
            <div class="w-full lg:w-4/12 flex items-center mt-6">
                <div class="w-16 h-16 border-2 border-primary-dark rounded-full flex items-center justify-center font-bold number">3</div>
                <div class="ml-6 text-left">
                    <div class="font-medium text-xl">下载分享</div>
                    <div class="text-sm text-gray-600 mt-3">轻松下载分享</div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="bg-neutral-dark">
    <div class="w-full py-8 max-w-screen-xl mx-auto lg:flex lg:items-center lg:justify-center">
        <div class="w-full flex flex-col items-center gap-6 lg:w-1/2">
          <h1 class="text-3xl lg:font-medium lg:text-4xl">马上体验，快人一步</h1>
          <p class="text-md lg:text-lg">即可打开新世界的大门</p>
          <button class="btn"> 免费使用 </button>
        </div>

        <div class="w-full lg:w-1/2 lg:px-5">
            <%= image_tag "mobile-marketing.svg", class: "max-w-sm m-auto" %>
        </div>
    </div>
  </div>

</div>
